<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="/index.css">
    <meta name="google-site-verification" content="pIJ63aevyBcOnsY-I80T3CAtACm-eS7crDpwAHxOcDI" />
    <meta name="description" content="{{ page.description }}">
    <link rel="canonical" href="https://lukesempire.com{{ page.url }}">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="me" href="https://github.com/luke2m" />
    <link rel="me" href="https://gitlab.com/luke2m" />
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" title="{{ site.title }}">
    <link rel="webmention" href="https://webmention.herokuapp.com/api/webmention" />
    <link rel="microsub" href="https://aperture.p3k.io/microsub/606">
    <title>
        {{ page.title }} | Luke's Empire
    </title>
{{ page.head }}
</head>

<body>

    <header style="text-align: right;"><a href="https://lukesempire.com">Home</a> | <a href="/blog.html">Blog</a></header>
    <hr>
    {{ content }}
    <br>
    <hr>
    <footer>

        <p style="text-align: right;"><a href="https://lukesempire.com">Home</a> | <a href="/blog.html">Blog</a></p>
        <hr>
        <div id="hcard-Luke-M-M" class="vcard">
            <img style="float:left; margin-right:4px" src="/uploads/photo.jpg" alt="Profile Pic" class="photo" />
            <a class="url fn n" href="https://lukesempire.com"> <span class="given-name">Luke</span>
                
                <span class="family-name">M</span>
            </a>
        
            <div class="adr">
                <span class="region">Ohio,</span>

                <span class="country-name">USA</span>

            </div>
            <span class="note"></span>
            <ul>
                <li><a rel="me" href="https://github.com/luke2m">GitHub</a></li>
                <li><a rel="me" href="https://gitlab.com/luke2m">GitLab</a></li>
            </ul>

        </div>
        <br>
        <br>

        <hr>
        <!-- Badges -->
        <p style="text-align: center;"><a href="https://archlinux.org"><img src="/uploads/arch.png" alt="ArchLinux" style="image-rendering:pixelated;"></a> <a href="https://www.vim.org"><img src="/uploads/3.gif" alt="vim" style="image-rendering:pixelated;"></a> <a href="https://brackets.io"><img src="/uploads/4.gif" alt="Brackets" style="image-rendering:pixelated;"></a> <a href="https://vivaldi.com"><img src="/uploads/vivaldi.gif" alt="Vivaldi" style="border:0"></a>
        <br><a href="https://indieweb.org/Webmention"><img src="/uploads/5.png" alt="WebMention Capable" style="image-rendering:pixelated;"></a> </a>
        <a href="/contact.html"><img src="/uploads/email.png" alt="Contact" style="image-rendering:pixelated;"></a>
        <a href="/pgp.txt"><img src="/uploads/pgpkey2.gif" alt="PGP Key" style="image-rendering:pixelated;"></a></p>
        <br>

<br>
        <p style="text-align: center;"><a href="https://xn--sr8hvo.ws/%F0%9F%93%BD%E2%9E%96%F0%9F%96%B1/previous">←</a>
            🕸💍
            <a href="https://xn--sr8hvo.ws/%F0%9F%93%BD%E2%9E%96%F0%9F%96%B1/next">→</a>
        </p>
    </footer>



   
</body></html>
